.wrapper {
  margin-top: 38px;
}

.heading {
  margin: 0 24px 20px;
  color: var(--color-light-1);
}

.list {
  display: flex;
  gap: 20px;
  padding: 0 24px;
  user-select: none;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list::-webkit-scrollbar {
  display: none;
}
