.wrapper {
  margin-top: 30px;
}

.heading {
  margin-bottom: 12px;
}

.movieCard:not(:last-child) {
  margin-bottom: 12px;
}

.listEndTextContainer {
  display: flex;
  justify-content: center;
}

.listEndTextContainer span {
  color: var(--color-light-2);
}
