.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.wrapper > div {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 14px;
}

.text {
  margin-right: 10px;
}

.icon {
  font-size: 1rem;
  color: var(--color-light-0);
}

.chevronIcon {
  font-size: 0.6rem;
}

.rhs {
  gap: 20px;
}
