:root {
  --color-blue: #00a3ff;
  --color-green: #69c9c5;
  --color-light-0: #ffffff;
  --color-light-1: #dcdcdc;
  --color-light-2: #98a4bc;
  --color-dark-0: #1d1c2a;
  --color-dark-1: #222433;
  --color-dark-2: #2d2f3d;
  --color-dark-3: #2b2c3e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
